// css样式编写

.route-link.vp-brand {
    .vp-nav-logo {
        width: 40px;
        height: 40px;
        border: 2px solid var(--vp-c-accent);
        border-radius: 50%;
    }
}

.vp-blog-hero-title {
    font-size: 48px;
    text-align: left;
    background: linear-gradient(90deg, #5de8bc, #ef5e44);
    background-clip: text;
    color: transparent;
}

.vp-blog-hero-description {
    font-size: 16px;
    color: rgba(235, 235, 245, 0.7);
}

.vp-catalog-item {
    list-style: decimal;
}

.vp-project-card {
    span[class*='icon'] {
        font-size: 35px;
        margin-right: 20px;
        margin-top: 6px;
    }
}

@media screen and (min-width: 768px) {
    .vp-blog-hero-title,
    .vp-blog-hero-description {
        margin-left: 200px;
    }
}

/* 萤火虫闪烁动画 */
@keyframes fire-fly-flashing {
    0% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0);
    }

    10% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.2);
    }

    20% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.4);
    }

    30% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.6);
    }

    40% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.8);
    }

    50% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 1);
    }

    60% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.8);
    }

    70% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.6);
    }

    80% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.4);
    }

    90% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0.2);
    }

    100% {
        box-shadow: 0px 0px 2px 2px rgba(105, 193, 114, 0);
    }
}
